@import "variables";

.home-content {
  background-color: #fff;
  opacity: 0.9;
  height: 500px;
  border-radius: 10px;
  .home-upside {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainThemeColor;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .avatar {
      width: 200px;
      background-color: grey;
      margin: 70px 0 0 50px;
      &:hover {
        // 向上浮动
        transform: translateY(-4px);
        box-shadow: 0 0 15px 0 grey;
      }
    }
  }
  .home-upside-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > * {
      color: white;
      line-height: 2em;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 25px;
    }
    .social-link:visited {
      color: inherit;
    }
  }
}

.home-downside {
  width: 100%;
  display: flex;
  // justify-content: space-around;
  .about-me {
    position: absolute;
    top: 360px;
    left: 180px;
    line-height: 1.5em;
  }
  .info-items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    ul {
      padding-left: 300px;
      list-style-type: none;
    }
    li {
      line-height: 2em;
      .key {
        display: inline-block;
        min-width: 70px;
        /* 把key的width强行拉伸，让后面的value也可以左对齐 */
      }
      .value {
        display: inline-block;
        color: gray;
      }
    }
  }
}
