header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #444;
  z-index: 999;
  height: 5rem;
  display: flex;
  justify-content: space-around;
}

.menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__icon > img {
  width: 20%;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: absolute;
    z-index: 3;
    top: 1.5rem;
    right: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out;
  }
  .menu-btn.close .btn-line:first-child {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: orangered;
  }
  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.close .btn-line:last-child {
    transform: rotate(-45deg) translate(6px, -6px);
    background-color: orangered;
  }
}

.menu__nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu__nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  padding: 1rem 0;
  color: white;
  font-weight: bold;
}

.menu__nav a.current {
  color: orangered;
  text-decoration: underline;
}

.menu__nav a:hover {
  transition: all 0.5s ease-out;
  color: orangered;
}

@media (max-width: 768px) {
  .menu__nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #444;
    opacity: 0.85;
    transform: translateX(-250px);
    transition: all 0.5s ease-out;
  }
  .menu__nav.show {
    transform: translateX(0);
    transition: all 0.5s ease-out;
  }
  .menu__nav a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-bottom: 1px dotted orangered;
    padding: 1.5rem;
  }
  .menu__nav a.current {
    color: orangered;
    text-decoration: underline;
  }
  .menu__nav a:hover {
    transition: all 0.5s ease-out;
    color: orangered;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #444;
  color: white;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(68, 68, 68, 0.5);
  z-index: -1;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background-color: rgba(73, 73, 73, 0.5);
}

.text-secondary {
  color: orangered;
}

a {
  color: white;
  text-decoration: none;
}

main {
  padding: 5rem;
  min-height: 100%;
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  color: white;
  text-decoration: none;
  padding: 0.4rem;
}

main .icons a:hover {
  color: orangered;
  transition: all 0.5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

@media (max-width: 375px) {
  main#home h1 {
    margin-top: 10vh;
  }
}

@media (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
}

section {
  background: rgba(68, 68, 68, 0.5);
  min-height: 100%;
  padding: 5rem;
}

.about-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "bioimage bio bio" "skill-set skill-set skill-set" "job1 job2 job3" "job4 job5 job6";
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .about-info {
    grid-template-areas: "bioimage" "bio" "skill-set" "job1" "job2" "job3" "job4" "job5" "job6";
    grid-template-columns: 1fr;
  }
}

.about-info .bio-image {
  width: 250px;
  grid-area: bioimage;
  margin: auto;
  border-radius: 100%;
  border: 1px solid orangered;
}

.about-info .skill-set {
  grid-area: skill-set;
  font-size: 1.5rem;
}

.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.about-info .job1 {
  grid-area: job1;
}

.about-info .job2 {
  grid-area: job2;
}

.about-info .job3 {
  grid-area: job3;
}

.about-info .job4 {
  grid-area: job4;
}

.about-info .job5 {
  grid-area: job5;
}

.about-info .job6 {
  grid-area: job6;
}

.about-info .job {
  background: #4e4e4e;
  padding: 0.5rem;
  border-bottom: 3px solid orangered;
  font-size: 1.3rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projects img {
  width: 100%;
  border: 2px solid white;
}

.projects img:hover {
  transition: all 0.5s ease-out;
  opacity: 0.8;
  border-color: orangered;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.6rem 0;
  margin: 0.6rem 0;
  text-align: center;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: orangered;
  color: white;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .contact__container {
    flex-direction: column;
    align-items: center;
  }
}

.contact__details {
  font-size: 2rem;
}

.contact__details-item {
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
}

.contact__details-item:hover {
  transition: all 0.5s ease-out;
  opacity: 0.9;
  background-color: orangered;
  color: black;
}

.contact__details-item:hover span {
  transition: all 0.5s ease-out;
  opacity: 0.9;
  color: black;
}

.contact__form {
  font-size: 2rem;
}

.contact__form input,
.contact__form textarea {
  margin-top: 0.6rem;
  width: 85%;
  line-height: 3rem;
  padding-left: 2rem;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.contact__form input {
  height: 3rem;
}

.contact__form textarea {
  height: 7rem;
}

.contact__form button {
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0.6rem;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .contact__form button {
    font-size: 1rem;
  }
}

footer {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
  background: #373737;
  color: white;
  height: 40px;
}
/*# sourceMappingURL=main.css.map */